-r requirements.txt

git+git://github.com/frictionlessdata/datapackage-pipelines.git@8cefe5874e38f81d3701485ee24628dc655648f6#egg=datapackage-pipelines[speedup]
werkzeug<1.0
ruamel.yaml==0.16.10
plyvel<1

# COVID19-ISRAEL/requirements-pipelines.txt

google-api-python-client==1.8.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
geopandas==0.6.1
geocoder==1.38.1
tqdm==4.45.0
googlemaps==4.2.0
xlrd==1.2.0
Rtree==0.8.3
requests==2.31.0
plotly==4.6.0
branca==0.4.0
scipy==1.4.1
joblib==0.14.1
numpy==1.18.2
sklearn==0.0
folium==0.10.1
psutil==5.7.0
pyarrow==0.16.0

# corona_data_collector requirements

python-telegram-bot==12.6.1
psycopg2==2.8.5
